<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 模板继承相关  -->
    <title>{% block title %}  {% endblock %}</title>
        <!-- css相关定义 -->
        {% block css_style %}
        {% endblock %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    {% block js_script %}
    {% endblock %}
</body>
</html>